receivers:
  castai_audit_logs:
    api:
      url:             ${env:CASTAI_API_URL} # Use CASTAI_API_URL env variable to override default API URL (https://api.cast.ai/)
      key:             ${env:CASTAI_API_KEY} # Use CASTAI_API_KEY env variable to provide API Access Key
    poll_interval_sec: 10 # This parameter defines poll cycle in seconds.
    page_limit:        100 # This parameter defines the max number of records returned from the backend in one page.
    storage:
      type: "persistent"
      filename: "./audit_logs_poll_data.json"
    filters:
      cluster_id: ${env:CASTAI_CLUSTER_ID} # Use CASTAI_CLUSTER_ID env variable to fetch only specific cluster audit logs. This parameter is optional.

exporters:
  logging:
    verbosity: basic
    sampling_initial: 5
    sampling_thereafter: 200

extensions:
  health_check:

service:
  extensions: [health_check]
  telemetry:
    logs:
      level: "debug"
  pipelines:
    logs:
      receivers: [castai_audit_logs]
      exporters: [logging]
